<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="icon" href="../Static/icon.jpg">
    <link rel="stylesheet" href="../Static/Style.css">
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header ">
                <a class="navbar-brand">ONLINE EDUCATION</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="Index.html">Home</a></li>
                <li class="active"><a href="About.html">About</a></li>
                <li><a href="Gallery.html">Gallery</a></li>
                <li><a href="Periodic_Table.html">Periodic Table</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="SignUp.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="SignIn.html"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-5 col-sm-10 col-sm-offset-1">
        <h1 class="heading sub-heading col-sm-offset-4 col-sm-4"><u>Education</u></h1>
        <p class="para col-sm-offset-0 col-sm-12">Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and
            habits. Educational methods include storytelling, discussion, teaching, training, and directed research.
            Education frequently takes place under the guidance of educators, however learners may also educate themselves.
            Education can take place in formal or informal settings and any experience that has a formative effect on the way one
            thinks, feels, or acts may be considered educational. The methodology of teaching is called pedagogy.
        </p>
        <p class="para col-sm-offset-0 col-sm-12">
            Formal education is commonly divided formally into such stages as preschool or kindergarten, primary school,
            secondary school and then college, university, or apprenticeship.
        </p>
        <p class="para col-sm-offset-0 col-sm-12">
            A right to education has been recognized by some governments and the United Nations. In most regions,
            education is compulsory up to a certain age. There is a movement for education reform, and in particular for the of
            evidence-based education.
        </p>
        <h2 class="sub-heading col-sm-offset-0 col-sm-4"><u>Formal Education</u></h2>
        <p class="para col-sm-offset-0 col-sm-12">
            Formal education occurs in a structured environment whose explicit purpose is teaching students. Usually, formal
            education takes place in a school environment with classrooms of multiple students learning together with a trained,
            certified teacher of the subject. Most school systems are designed around a set of values or ideals that govern all
            educational choices in that system. Such choices include curriculum, organizational models, design of the physical
            learning spaces (e.g. classrooms), student-teacher interactions, methods of assessment, class size, educational
            activities, and more.
        </p>
        <h3 class="sub-heading col-sm-offset-0 col-sm-4">Pre-School:</h3>
        <p class="para col-sm-offset-0 col-sm-12">
            Preschools provide education from ages approximately three to seven, depending on the country when children enter
            primary education. These are also known as nursery schools and as kindergarten, except in the US, where the term
            kindergarten refers to the earliest levels of primary education. Kindergarten "provide[s] a child-centred, preschool
            curriculum for three- to seven-year-old children that aim[s] at unfolding the child's physical, intellectual, and moral
            nature with balanced emphasis on each of them.
        </p>
        <h3 class="sub-heading col-sm-offset-0 col-sm-4">Primary :</h3>
        <p class="para col-sm-offset-0 col-sm-12">
            Primary (or elementary) education consists of the first five to seven years of formal, structured education. In general,
            primary education consists of six to eight years of schooling starting at the age of five or six, although this varies
            between, and sometimes within, countries. Globally, around 89% of children aged six to twelve are enrolled in primary
            education, and this proportion is rising. Under the Education For All programs driven by UNESCO, most countries have
            committed to achieving universal enrollment in primary education by 2015, and in many countries, it is compulsory. The
            division between primary and secondary education is somewhat arbitrary, but it generally occurs at about eleven or
            twelve years of age. Some education systems have separate middle schools, with the transition to the final stage of
            secondary education taking place at around the age of fourteen. Schools that provide primary education, are mostly
            referred to as primary schools or elementary schools. Primary schools are often subdivided into infant schools and
            junior school.
        </p>
        <h3 class="sub-heading col-sm-offset-0 col-sm-4">Secondary :</h3>
        <p class="para col-sm-offset-0 col-sm-12">
            In most contemporary educational systems of the world, secondary education comprises the formal education that occurs
            during adolescence. It is characterized by transition from the typically compulsory, comprehensive primary education
            for minors, to the optional, selective tertiary, "postsecondary", or "higher" education (e.g. university, vocational
            school) for adults. Depending on the system, schools for this period, or a part of it, may be called secondary or high
            schools, gymnasiums, lyceums, middle schools, colleges, or vocational schools. The exact meaning of any of these terms 
            varies from one system to another. The exact boundary between primary and secondary education also varies from country 
            to country and even within them but is generally around the seventh to the tenth year of schooling.
        </p>
        <h3 class="sub-heading col-sm-offset-0 col-sm-4">Tertiary (Higher) :</h3>
        <p class="para col-sm-offset-0 col-sm-12">
            Higher education, also called tertiary, third stage, or postsecondary education, is the non-compulsory educational level
            that follows the completion of a school such as a high school or secondary school. Tertiary education is normally
            taken to include undergraduate and postgraduate education, as well as vocational education and training. Colleges and
            universities mainly provide tertiary education. Collectively, these are sometimes known as tertiary institutions.
            Individuals who complete tertiary education generally receive certificates, diplomas, or academic degrees.
        </p>
    </div>
    
</body>
</html>