<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="icon" href="../Static/icon.jpg">
    <link rel="stylesheet" href="../Static/Style.css">
    <title>Periodic Table</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header ">
                <a class="navbar-brand">ONLINE EDUCATION</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="Index.html">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Gallery.html">Gallery</a></li>
                <li class="active"><a href="Periodic_Table.html">Periodic Table</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="SignUp.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="SignIn.html"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
            </ul>
        </div>
    </nav>
    
    <h3  id="vertical-heading" style="color:white;">PERIODIC TABLE</h3>
    <table>
        <thead>
            <tr>
                <th class="header-1 color-0">Group</th>
                <th class="header-2 color-0">1</th>
                <th class="header-1 color-0">2</th>
                <th class="header-2 color-0">3</th>
                <th class="hid"></th>
                <th class="header-1 color-0">4</th>
                <th class="header-2 color-0">5</th>
                <th class="header-1 color-0">6</th>
                <th class="header-2 color-0">7</th>
                <th class="header-1 color-0">8</th>
                <th class="header-2 color-0">9</th>
                <th class="header-1 color-0">10</th>
                <th class="header-2 color-0">11</th>
                <th class="header-1 color-0">12</th>
                <th class="header-2 color-0">13</th>
                <th class="header-1 color-0">14</th>
                <th class="header-2 color-0">15</th>
                <th class="header-1 color-0">16</th>
                <th class="header-2 color-0">17</th>
                <th class="header-1 color-0">18</th>
            </tr>
            <tr>
                <td class="header-1"></td>
                <td class="header-2">Alkali<br />Metals</td>
                <td class="header-1">Alkaline<br> Earth <br>Metals</td>
                <td class="header-2"></td>
                <td class="hid"></td>
                <td class="header-1"></td>
                <td class="header-2"></td>
                <td class="header-1"></td>
                <td class="header-2"></td>
                <td class="header-1"></td>
                <td class="header-2"></td>
                <td class="header-1"></td>
                <td class="header-2"></td>
                <td class="header-1"></td>
                <td class="header-2"></td>
                <td class="header-1"></td>
                <td class="header-2">Pnictogens</td>
                <td class="header-1">Chalcogens</td>
                <td class="header-2">Halogens</td>
                <td class="header-1">Noble <br> Gases</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="header-2 color-0">Period</br>1</td>
                <td class="color-1">Hydrogen <br>1 <br><span class="color-0">H</span><br> 1.008</td>
                <td></td>
                <td></td>
                <td class="hid"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="color-3">Helium<br> 2<br><span class="color-0">He</span><br>4.0026</td>
            </tr>
            <tr>
                <td class="header-1 color-0">2</td>
                <td class="color-2">Lithium <br>3 <br><span class="color-0">Li</span><br>6.94</td>
                <td class="color-4">Berilium <br>4 <br><span class="color-0">Be</span><br>9.0122</td>
                <td></td>
                <td class="hid"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="color-5">Boron<br> 5<br><span class="color-0">B</span><br> 10.81</td>
                <td class="color-1">Carbon<br> 6<br><span class="color-0">C</span><br> 12.011</td>
                <td class="color-1">Nitrogen<br> 7<br><span class="color-0">N</span><br> 14.007</td>
                <td class="color-1">Oxygen<br> 8<br><span class="color-0">O</span><br> 15.999</td>
                <td class="color-1">Fluorine<br> 9<br><span class="color-0">F</span><br> 18.998</td>
                <td class="color-3">Neon<br> 10<br> <span class="color-0">Ne</span><br> 20.180</td>
            </tr>
            <tr>
                <td class="header-2 color-0">3</td>
                <td class="color-2">Sodium<br> 11<br><span class="color-0">Na</span><br> 22.990</td>
                <td class="color-4">Magnesium<br> 12<br><span class="color-0">Mg</span><br> 24.305</td>
                <td></td>
                <td class="hid"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="color-6">Aluminium<br> 13<br><span class="color-0">Ai</span><br> 26.982</td>
                <td class="color-5">Silicon<br> 14<br><span class="color-0">Si</span><br> 28.085</td>
                <td class="color-1">Phosphorus<br> 15<br><span class="color-0">P</span><br> 30.974</td>
                <td class="color-1">Sulphur<br> 16<br><span class="color-0">S</span><br> 32.06</td>
                <td class="color-1">Chlorine<br> 17<br> <span class="color-0">Cl</span><br> 35.45</td>
                <td class="color-3">Argon<br> 18<br><span class="color-0">Ar</span><br> 39.88</td>
            </tr>
            <tr>
                <td class="header-1 color-0">4</td>
                <td class="color-2">Potasium<br> 19<br><span class="color-0">K</span><br> 39.098</td>
                <td class="color-4">Calcium<br> 20<br><span class="color-0">Ca</span><br> 40.078</td>
                <td class="color-10">Scandium<br> 21<br><span class="color-0">Sc</span><br> 44.956</td>
                <td class="hid"></td>
                <td class="color-10">Titanium<br> 22<br><span class="color-0">Ti</span><br> 47.867</td>
                <td class="color-10">Vanadium<br> 23<br><span class="color-0">V</span><br> 50.942</td>
                <td class="color-10">Chromium<br> 24<br><span class="color-0">Cr</span><br> 51.996</td>
                <td class="color-10">Mangnese<br> 25<br><span class="color-0">Mn</span><br> 54.938</td>
                <td class="color-10">Iron<br> 26<br><span class="color-0">Fe</span><br> 55.485</td>
                <td class="color-10">Cobalt<br> 27<br><span class="color-0">Co</span><br> 58.933</td>
                <td class="color-10">Nickel<br> 28<br><span class="color-0">Ni</span><br> 58.693</td>
                <td class="color-10">Copper<br> 29<br><span class="color-0">Cu</span><br> 63.546</td>
                <td class="color-6">Zinc<br> 30<br><span class="color-0">Zn</span><br> 65.38</td>
                <td class="color-6">Galium<br> 31<br><span class="color-0">Ga</span><br> 69.723</td>
                <td class="color-5">Germanium<br> 32<br><span class="color-0">Ge</span><br> 72.630</td>
                <td class="color-5">Arsenic<br> 33<br><span class="color-0">As</span><br> 74.922</td>
                <td class="color-1">Selenium<br> 34<br><span class="color-0">Se</span><br> 78.971</td>
                <td class="color-1">Bromine<br> 35<br> <span class="color-0">Br</span><br> 79.904</td>
                <td class="color-3">Krypton<br> 36<br><span class="color-0">Kr</span><br> 83.798</td>
            </tr>
            <tr>
                <td class="header-2 color-0">5</td>
                <td class="color-2">Rubidium<br> 37<br><span class="color-0">Rb</span><br> 85.468</td>
                <td class="color-4">Strontium<br> 38<br><span class="color-0">Sr</span><br> 87.62</td>
                <td class="color-10">Yttrium<br> 39<br> <span class="color-0">Y</span><br> 88.906</td>
                <td class="hid"></td>
                <td class="color-10">Zirconium<br> 40<br><span class="color-0">Zr</span><br> 91.224</td>
                <td class="color-10">Niobium<br> 41<br> <span class="color-0">Nb</span><br> 92.906</td>
                <td class="color-10">Molybdenum<br> 42<br><span class="color-0">Mo</span> <br> 95.95</td>
                <td class="color-10">Technetium<br> 43<br><span class="color-0">Tc</span><br> [97]</td>
                <td class="color-10">Ruthenium<br> 44<br><span class="color-0">Ru</span><br> 101.07</td>
                <td class="color-10">Rhodium<br> 45<br><span class="color-0">Rh</span><br> 102.91</td>
                <td class="color-10">Palladium<br> 46<br><span class="color-0">Pd</span><br> 106.42</td>
                <td class="color-10">Silver<br> 47<br> <span class="color-0">Ag</span><br> 107.87</td>
                <td class="color-6">Cadmium<br> 48<br><span class="color-0">Cd</span> <br> 112.41</td>
                <td class="color-6">Indium<br> 49<br> <span class="color-0">In</span><br> 114.82</td>
                <td class="color-6">Tin<br> 50<br><span class="color-0">Sn</span> <br> 118.71</td>
                <td class="color-5">Antimony<br> 51<br><span class="color-0">Sb</span> <br> 121.76</td>
                <td class="color-5">Tellurium<br> 52<br> <span class="color-0">Te</span><br> 127.60</td>
                <td class="color-1">Iodine<br> 53<br><span class="color-0">I</span><br> 126.90</td>
                <td class="color-3">Xenon<br> 54<br><span class="color-0">Xe</span><br> 131.29</td>
            </tr>
            <tr>
                <td class="header-1 color-0">6</td>
                <td class="color-2">Caesium<br> 55<br><span class="color-0"></span><br> 132.91</td>
                <td class="color-4">Barium <br> 56 <br><span class="color-0">Ba</span><br> 137.33</td>
                <td class="color-9">Lanthanium <br>57 <br><span class="color-0">La</span><br> 138.91</td>
                <td class="hid">*</td>
                <td class="color-10">Hafnium <br>72 <br><span class="color-0">Hf</span><br>178.49</td>
                <td class="color-10">Tantalum <br>73 <br><span class="color-0">Ta</span><br>180.95</td>
                <td class="color-10">Tungsten <br>74 <br><span class="color-0">W</span><br>183.84</td>
                <td class="color-10">Rhenium <br>75 <br><span class="color-0">Re</span><br>186.21</td>
                <td class="color-10">Osmium <br>76 <br><span class="color-0">Os</span><br>190.23</td>
                <td class="color-10">Iridium <br>77 <br><span class="color-0">Ir</span><br>192.22</td>
                <td class="color-10">Platinum <br>78 <br><span class="color-0">Pt</span><br>195.08</td>
                <td class="color-10">Gold <br>79 <br><span class="color-0">Au</span><br>196.97</td>
                <td class="color-6">Mercury <br>80 <br><span class="color-0">Hg</span><br>200.59</td>
                <td class="color-6">Thalium <br>81 <br><span class="color-0">Ti</span><br>204.38</td>
                <td class="color-6">Lead <br>82 <br><span class="color-0">Pb</span><br>207.2</td>
                <td class="color-6">Bismuth <br>83 <br><span class="color-0">Bi</span><br>208.98</td>
                <td class="color-6">Polonium <br>84 <br><span class="color-0">Po</span><br>[209]</td>
                <td class="color-5">Astaline <br>85 <br><span class="color-0">At</span><br>[210]</td>
                <td class="color-3">Radon <br>86 <br><span class="color-0">Rn</span><br>[222]</td>
            </tr>
            <tr>
                <td class="header-2 color-0">7</td>
                <td class="color-2">Francium <br>87 <br><span class="color-0">Fr</span><br>[223]</td>
                <td class="color-4">Radium <br>88 <br><span class="color-0">Ra</span><br>[226]</td>
                <td class="color-8">Actinium <br>89 <br><span class="color-0">Ac</span><br>[227]</td>
                <td class="hid">*<br>*</td>
                <td class="color-10">Rutherfordium <br>104 <br><span class="color-0">Rf</span><br>[267]</td>
                <td class="color-10">Dubnium <br>105 <br><span class="color-0">Db</span><br>[268]</td>
                <td class="color-10">Seaborgium <br>106 <br><span class="color-0">Sg</span><br>[269]</td>
                <td class="color-10">Bohrium <br>107 <br><span class="color-0">Bh</span><br>[270]</td>
                <td class="color-10">Hassium <br>108 <br><span class="color-0">Hs</span><br>[269]</td>
                <td class="color-7">Meitnerium <br>109 <br><span class="color-0">Mt</span><br>[278]</td>
                <td class="color-7">Darmstadium <br>110 <br><span class="color-0">Ds</span><br>[281]</td>
                <td class="color-7">Roentgenium <br>111 <br><span class="color-0">Rg</span><br>[282]</td>
                <td class="color-6">Coppernicium <br>112 <br><span class="color-0">Cn</span><br>[285]</td>
                <td class="color-7">Nihonium <br>113 <br><span class="color-0">Nh</span><br>[286]</td>
                <td class="color-7">Flerovium <br>114 <br><span class="color-0">Fl</span><br>[289]</td>
                <td class="color-7">Moscovium <br>115 <br><span class="color-0">Mc</span><br>[290]</td>
                <td class="color-7">Livermorium <br>116 <br><span class="color-0">Lv</span><br>[293]</td>
                <td class="color-7">Tennessine <br>117 <br><span class="color-0">Ts</span><br>[294]</td>
                <td class="color-7">Oganesson <br>118 <br><span class="color-0">Og</span><br>[294]</td>
            </tr>
            <tr id="space"></tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hid">*</td>
                <td class="color-9">Cerium <br>58 <br><span class="color-0">Ce</span><br>140.12</td>
                <td class="color-9">Praseodymium <br>59 <br><span class="color-0">Pr</span><br>140.91</td>
                <td class="color-9">Neodymium <br>60 <br><span class="color-0">Nd</span><br>144.24</td>
                <td class="color-9">Promethium <br>61 <br><span class="color-0">Pm</span><br>[145]</td>
                <td class="color-9">Samarium <br>62 <br><span class="color-0">Sm</span><br>150.36</td>
                <td class="color-9">Europium <br>63 <br><span class="color-0">Eu</span><br>151.96</td>
                <td class="color-9">Gadolinium <br>64 <br><span class="color-0">Gd</span><br>157.25</td>
                <td class="color-9">Terbium <br>65 <br><span class="color-0">Tb</span><br>158.93</td>
                <td class="color-9">Dysprosium <br>66 <br><span class="color-0">Dy</span><br>162.50</td>
                <td class="color-9">Holmium <br>67 <br><span class="color-0">Ho</span><br>164.93</td>
                <td class="color-9">Erbium <br>68 <br><span class="color-0">Er</span><br>167.26</td>
                <td class="color-9">Thulium <br>69 <br><span class="color-0">Tm</span><br>168.93</td>
                <td class="color-9">Ytterbium <br>70 <br><span class="color-0">Yb</span><br>173.05</td>
                <td class="color-9">Lutetium <br>71 <br><span class="color-0">Lu</span><br>174.97</td>
                <td class=""></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hid">*<br>*</td>
                <td class="color-8">Thorium <br>90 <br><span class="color-0">Th</span><br>232.04</td>
                <td class="color-8">Protactinium <br>91 <br><span class="color-0">Pa</span><br>231.04</td>
                <td class="color-8">Uranium <br>92 <br><span class="color-0">U</span><br>238.03</td>
                <td class="color-8">Neptunium <br>93 <br><span class="color-0">Np</span><br>[237]</td>
                <td class="color-8">Plutonium <br>94 <br><span class="color-0">Pu</span><br>[244]</td>
                <td class="color-8">Americium <br>95 <br><span class="color-0">Am</span><br>[243]</td>
                <td class="color-8">Curium <br>96 <br><span class="color-0">Cm</span><br>[247]</td>
                <td class="color-8">Berkelium <br>97 <br><span class="color-0">Bk</span><br>[247]</td>
                <td class="color-8">Californium <br>98 <br><span class="color-0">Cf</span><br>[251]</td>
                <td class="color-8">Einsteinium <br>99 <br><span class="color-0">Es</span><br>[252]</td>
                <td class="color-8">Fermium <br>100 <br><span class="color-0">Fm</span><br>[257]</td>
                <td class="color-8">Mendelevium <br>101 <br><span class="color-0">Md</span><br>[258]</td>
                <td class="color-8">Nobelium <br>102 <br><span class="color-0">No</span><br>[259]</td>
                <td class="color-8">Lawrencium <br>103 <br><span class="color-0">Lr</span><br>[266]</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>